REACT_APP_FIREBASE_API_KEY=AIzaSyDZ9YbH_KV_3q9Z7Y9Z7Y9Z7Y9Z7Y9Z7Y9
REACT_APP_FIREBASE_AUTH_DOMAIN=semaforo-de-igualdad.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=semaforo-de-igualdad
REACT_APP_FIREBASE_STORAGE_BUCKET=semaforo-de-igualdad.appspot.com
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=408879492484
REACT_APP_FIREBASE_APP_ID=1:408879492484:web:1q2w3e4r5t6y7u8i9o0p
