REACT_APP_FIREBASE_API_KEY=AIzaSyDEeno9Q-gFxCg3rtDLOQHcPZNVtuy2-FE
REACT_APP_FIREBASE_AUTH_DOMAIN=ecoguardianas.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=ecoguardianas
REACT_APP_FIREBASE_STORAGE_BUCKET=ecoguardianas.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=703201652789
REACT_APP_FIREBASE_APP_ID=1:703201652789:web:74c17c0a1d70e1b7eb817c
